ul{
   list-style-type: none;
}

/* IDs */

#head-title{
    color: #f8f8f8;
    font-size: 44px;
	max-width: 1095px;
}

#navbar-brand {
	font-size: 28px;
	margin-left: -5px;
	font-weight: bold;
}

#main-border {
	margin: 100px 15px;
}

#prod-border {
	padding-top: 200px;
}

#bot-row-pad {
	padding: 40px;
}

/* Classes */

.navbar {
	max-width: 1200px;
    margin: 0 auto;
	font-weight: bold;
}

.navbar-brand {
	font-weight: bold;
	font-size: 25px !important;
}

.nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.jumbotron{
    background-image: url(../resources/hero-image.jpg);
    background-size: cover;
}

.banner-text {
    margin: 275px 0 70px 120px;
}

.text-wht{
   color: #fff;
}

.main-title {
    color: #45454e;
    font-size: 32px;
    line-height: 35px;
	max-width: 560px;
	padding-bottom: 25px;
}

.main-text-light {
	font-weight: normal;
}

.callouts {
	padding: 0 25px 125px 25px;
}

.bg-blue {
    background-color: #333d51;
}

.push {
   max-width: 460px;
}

.no-pad {
	padding: 0 !important;
	margin: 0 !important;
}

.icons i {
	margin: 20px 55px 40px 0;
}

.green {
	color: #00bf62;
}

.btn.outer {
	background: none;
	padding: 12px 45px;
}

.btn-primary:hover {
	background-color: #00bf62 !important;
	color: #fff !important;
}

.btn-primary.outer {
	border: 2px solid #00bf62;
	color: #00bf62;
}

/* Media Queries */

@media(max-width:768px) {
  .banner-text {
    margin-top: 3px;
    margin-left: 0px;
    margin-bottom: 70px;
	}
}
